
h1, .h1 {
    margin-bottom: 1em;
}

hr {
    margin-top: 1em;
    margin-bottom: 0;
}

.row-m-t{
  margin-top : 1em;
}

.screen-name {
    color: grey;
}

.full-name {
    font-weight: bold;
}

.timestamp {
    color: grey;
}

.glyphicon {
    color: grey;
}

.glyphicon:hover {
    color: #2a6496;
}
