
h1, .h1 {
    margin-bottom: 1em;
}

img {
  border-radius: 50%;
  font-family: 'Helvetica';
  font-weight: 300;
  line-height: 2;
  text-align: center;
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  width: 48px;
  height: 48px;
}

img:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(230, 230, 230);
  border: 2px dotted rgb(200, 200, 200);
}

img:after {
  content: "Missing";
  display: block;
  font-size: .75em;
  font-style: normal;
  font-weight: bold;
  color: rgb(200, 200, 200);
  position: absolute;
  top: calc(24px - 1em);
  left: 0;
  width: 100%;
  text-align: center;
}

.tweet {
    margin-top: 1em;
}

.screen-name {
    color: grey;
}

.timestamp {
    float: right;
    color: grey;
}

.full-text {
    display:block;
    overflow:hidden;
    padding-bottom: 1em;
    border-bottom: 1px solid #ddd;
    min-height: 48px;
}

.container {
    max-width: 600px;
    padding-top: 100px;
    padding-bottom: 100px;
}
