{% extends "base.html" %}

{% block scripts %}
    {{ super() }}
    <script>
    $(document).ready( function () {
        $('#files_table').DataTable(
            {
                "pageLength": 100,
                "lengthMenu": [ [25, 50, 100, 250, 500, -1], [25, 50, 100, 250, 500, "All"] ],
                "responsive": true
            }
        );
    } );
    </script>
{% endblock %}

{% block app_content %}
<div id="browser" class="container">
    <table id="files_table" class="table table-striped">
        <thead>
            <tr>
                <td>Name</td>
                <td style="text-align: right">Date</td>
                <td style="text-align: right">Size</td>
            </tr>
        </thead>
        <tbody>
            {% for file, data in items.items() %}
            <tr>
                <td><span class="{{ data.icon }}" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;<a href="{{ url_for('index', req_path=[path, file]|join('/')) }}">{{ file }}</a></td>
                <td style="text-align: right"><span id="time_{{ file }}"></span></td>
                <td style="text-align: right">{{ data.size }}</td>
                <script>
                var elem = document.getElementById("time_{{ file }}")
                var now = new Date({{ data.timestamp|date_to_millis }});
                var options = { day: '2-digit', month: 'short', year: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit' }
                elem.innerHTML = now.toLocaleString([], options);
                </script>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
