{% extends "base.html" %}

{% block scripts %}
    {{ super() }}
    <script>
    $(document).ready( function () {
        $('#stats_table').DataTable(
            {
                "pageLength": 25,
                "responsive": true
            }
        );
    } );
    </script>
{% endblock %}

{% block app_content %}
<div class="jumbotron">
  <h1>Twicorder Stats</h1>
  <p>{{data['All Tweets']}} tweets and counting</p>
</div>
<div class="container">
    <table id="stats_table" class="table table-striped">
        <thead >
            <tr>
                <td>From account</td>
                <td style="text-align: right">Count</td>
            </tr>
        </thead>
        <tbody>
            {% for key, value in data.items() %}
            <tr>
                <td>{{ key }}</td>
                <td style="text-align: right">{{ value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
